.cart-contaiener{
    display: flex;
    border-bottom: solid #ddd;
    padding-bottom: 15px;
    padding-top: 15px;
}
.CartItem-image{
    height: 150px;
    width: 150px;
   
    
}

.CartItem-image img{

object-fit: cover;
width: 100%;
}

.CartItem-info{
  flex: 1;
  margin-left: 20px;
    
}
.info-title{
    color: #007185;

    margin-top: -20px;
}
.stockinfo{
    display: flex;
    flex-direction: column;
    margin-top: -30px;
    margin-left: 10px;
}

.items-action{
    display: flex;
    display: flex;
    align-items: center;
}
.quantity-select{
    background-color: rgb(226, 226, 231);

 padding-left: 10px;
 margin-right: 10px;
 border-radius: 5px;
 padding: 8px;
 box-shadow: 0px 0px 9px -3px rgb(114 114 114 / 99%);
}
.quantity-select:focus{
    outline: none;
}
.item-delete{
    padding-left: 5px;
    color:  #007185;
    cursor: pointer;
}
.item-delete:hover{
    text-decoration: underline;
}
.cartitem-price{
 font-weight: 500;
 font-size: 25px;
 margin-right: 10px;
}

